@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700,900&display=swap');

$mdc-typography-font-family: unquote('Rubik, sans-serif');

$mdc-typography-styles-headline2: (
  // font-weight: 900
);

$mdc-typography-styles-headline3: (
  //font-weight: 700
);
